*{
    border: 0;
    margin: 0;
    padding: 0;
}

header{
    background: #60a8c4;
    color: white;
    text-align: center;
    padding: 10px;
}

header h1{
    text-align: center;
}

.navbar{
    display: flex;
    /* flex-wrap: wrap; */
    text-align: center;
}

.navbar a{
    text-decoration: none;
}

.menu{
    margin: auto;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.list li{
    display: inline-block;
    text-align: center;
    width: 20%;
    line-height: 30px;
}

.container{
    max-width: 80%;
    margin: auto;
    margin-top: 1em;
}

input, textarea{
    width: 300px;
}

#container-form{
    text-align: center;
    border-radius: 1em;
    border: 1px solid skyblue;
    /* width: 80%; */
    margin: auto;
    padding: 1em;
}

textarea{
    resize: none;
}

input[type="text"], input[type="email"], textarea{
    background: #DDD;
    border: thin solid skyblue;
    border-radius: .5em;
    font-size: 1em;
    padding: .25em;
}

/***Index****/
.sectionIndex{
    /* border: 1px solid blue; */
    width: 100%;
    height: 550px;
}
.sectionIndex h2{
    margin-top: 10px;
}
.sectionIndex p{
    margin-top: 20px;
}
.articleIndex{
    width: 55%;
    height: 516px;
    float:left;
    text-align: center;
    /* margin: 1em; */
    border-radius: 1em;
    border: 1px solid skyblue;
    padding: 1em;
}
.asideIndex{
    width: 32%;
    height: 217px;
    float:right;
    text-align: center;
    /* margin: 1em; */
    border-radius: 1em;
    border: 1px solid skyblue;
    padding: 1em;
    margin-bottom: 3em;
}

.footer{
    width: 80%;
    height: 50px;    
    border: 1px solid skyblue;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    margin-top: 1em;
}

/***Galeria****/
.sectionGaleria{
    width: 100%;
    height: 550px;
    border-radius: 1em;
    border: 1px solid skyblue;
    padding: 1em;
}

.galeria {
    height: calc( 300px + 3em);
    width: 360px;
    margin:1em auto;
    border: 1px solid #555;
    position: relative;  
  }
  
  .galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
    width: 360px;
    height: 300px;
  }
  
  .galeria input[type=radio] {
    position: relative;
    bottom: calc(-300px - 1.5em);
    left: 9em;
    width: 1em;
  }
  
  .galeria input[type="radio"]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  
  .galeria input[type="radio"]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
  .galeria input[type="radio"]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  
  .galeria input[type="radio"]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }

  .galeria input[type="radio"]:nth-of-type(5):checked ~ img:nth-of-type(5) {
    opacity: 1;
  }

  .galeria input[type="radio"]:nth-of-type(6):checked ~ img:nth-of-type(6) {
    opacity: 1;
  }

  .galeria input[type="radio"]:nth-of-type(7):checked ~ img:nth-of-type(7) {
    opacity: 1;
  }
  
input[type="button"]{
    background-color: #60a8c4;
    border-radius: .5em;
    border: 1px solid skyblue;
    padding: 1em;
    color: white;
}

input[type="button"]:hover{
    background: #80c7e4;
    border: 1px solid skyblue;
    color: white;
    cursor: pointer;
}

input[type="button"]:active{
    background-color: #3f8aa5;
    border-radius: .5em;
    border: 1px solid skyblue;
    padding: 1em;
    color: white;
}